# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Build/cache output
dist
build/Release
.cache
.parcel-cache
.expo
.expo-shared
.next
out
.nuxt
.temp
.svelte-kit
.docusaurus
.serverless
.firebase
.fusebox
.dynamodb
**/.vitepress/dist
**/.vitepress/cache

# Dependencies
node_modules/
jspm_packages/
web_modules/

# Tool caches
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.grunt
lib-cov
.tern-port
.vscode-test
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Yarn
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# dotenv environment variable files
.env
.env.*
!.env.example

# Local API/config overrides
config.local.js
*.local.js
